.tracks{
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-left: 50px;
    color: #ccc;
    background-color: rgb(33, 32, 32);
    margin: 5px 20px;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.tracks > p{
    margin: 0;
    font-size: 18px;
}

.tracks > span {
    font-size: 10px;
    color: #cccc;
}